.btn-primary-outline {
  color: #FFA500;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #FFA500 !important;
}

.btn-primary-dark {
  color: #fff;
  background-color: #20384f !important;
  border: 1px solid #30516f !important;
}

#page {
  padding-top: 30px;
}

.card {
  margin-top: 15px;
  margin-bottom: 15px;
}

.privKeysCollumn {
  margin-top: 15px;
}

.keysRow {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.printRow {
  width: 100%;
}

.emphasisText {
  color: orange;
  text-weight: bold;  
}

#generate {
  margin-top: 30px;
}

.form-control:focus {
  color: #fff; 
}

#intro {
  margin-bottom: 30px;
}

#restore {
  margin-top: 30px;
  display: none;
}

#qrCodeWrapper {
  margin-top: 20px;
}

#step2, #restoreError, #downloadAnchorElem {
  display: none;
}

#user_entropy_widget, #seed_phrase {
  width:100%;
}

.copyToClipboard {
  cursor: pointer;
}

.fontMonospace {
  font-family: monospace, monospace; 
}

.padding1em {
  padding: 1em;
}

.wordBreak {
  word-wrap: break-word;
}

.overflowVisible {
  overflow: visible;
}

@media only screen and (max-width: 576px) {
  #btnBackToHomepage {
    display: none;
  }

  .generateRow {
    display: grid;
    margin-right: 15px;
  }
}